version:1.482
plusMail:
userName:null
password:null
startNum:null
count:0
captchaKey:
autoVerify:false
avMail:null
avPass:null
acceptTos:false
outputFile:null
proxyFile:null
debug:false
threads:5
delay:5000
resetTime:960000
outputFormat:RocketMap
useNullProxy:true
privateDomain:false
trashName:Trash
